

@import './Variable.scss';





.tracking-UI {
    display: flex;
    width: 100%;
}

.tracking-step {
    position: relative;
    flex: 1;
    color: #000;
}

// The point
.tracking-point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #000;

    position: relative;
    z-index: 2;

    margin: 0 auto;
}

// Reached points become blue
.tracking-step.reached {
    .tracking-point {
        background: blue;
    }
}

// Information underneath the point
.tracking-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.tracking-status {
    font-weight: 600;
}

.tracking-date {
    font-size: 14px;
}

.tracking-time {
    font-size: 13px;
}

// Connecting line
.tracking-line {
    position: absolute;

    top: 5px;
    left: 50%;

    width: 100%;
    height: 2px;

    background: #000;

    z-index: 1;
}

// Make the connecting line blue if the next point
// has been reached
.tracking-step.reached {
    .tracking-line {
        background: blue;
    }
}